# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on

    # This line handles specific well-known paths
    RewriteRule ^(\.well-known/.*)$ $1 [L]

    # Redirect all requests matching /{lang}/{category}/ to /{lang}/{category}
    RewriteRule ^([a-z]{2})/([^/]+)/$ /$1/$2 [R=301,L]

    # Redirect root URL to webroot
    RewriteRule ^$ webroot/ [L]

    # Redirect all other requests to webroot
    RewriteRule (.*) webroot/$1 [L]
</IfModule>
