<IfModule mod_rewrite.c>
    RewriteEngine on

    # Обработка well-known путей
    RewriteRule ^(\.well-known/.*)$ $1 [L]

    # Перенаправление всех запросов вида /{lang}/{category}/ на /{lang}/{category}
    RewriteRule ^([a-z]{2})/([^/]+)/$ /$1/$2 [R=301,L]

    # Перенаправление всех запросов вида /{category}/ на /{category}
    RewriteRule ^([^/]+)/$ /$1 [R=301,L]

    # Предотвращение бесконечных циклов для запросов уже находящихся в /webroot/
    RewriteCond %{REQUEST_URI} !^/webroot/
    RewriteCond %{REQUEST_URI} !^/webroot/index.php$

    # Перенаправление корневого URL на /webroot/
    RewriteRule ^$ webroot/ [L]

    # Перенаправление всех остальных запросов на /webroot/
    RewriteRule (.*) webroot/$1 [L]
</IfModule>
